.container {
    width: 90%;
    margin: auto;
}
.rod-blok {
    width: 100%;
    height: 824px;
}
.blok1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    margin-top: 12%;
    
}
.blok2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 23px;
    margin-top: 12%;

}
.blok3 {
    width: 100%;
    height: auto;
}
.title {
    font-size: 24px;
    font-weight: 700;
}
.title_text {
    font-weight: 400;
    font-size: 16px;
}
.button {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 22px;
background: #3258FB;
border-radius: 8px;
width: 100%;
height: auto;
color: white;
}
.podpis {
    font-weight: 400;
font-size: 14px;
width: 100%;
height: auto;
color: #919EAB;
text-align: center;
}
.vhod {
    font-weight: 400;
font-size: 14px;
width: 100%;
height: auto;
color: #919EAB;
margin-top: 5%;
display: flex;
justify-content: center;
}
.blok2 input {
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(145, 158, 171, 0.3);
}
.fio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.bigfoto {
    display: none;
}
.logo-text {
    display: none;
}
@media screen and (min-width:1100px){
    .container {
        height: 800px;
        display: flex;
    }
    .rod-blok {
        height: 700px;
        display: flex;
    }
    .bigfoto {
        display: inline-block;
        width: 100%;
        height: 273px;
        margin-bottom: 50%;
    }
    .logo-text {
        display: inline-block;
        font-weight: 800;
        font-size: 26px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 1%;
    }
    .logotypes {
        display: flex;
    }
    .left-bigblok {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .fio {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .blok2 {
        margin-left: 15%;
    }
    .vhod {
        justify-content: flex-start;
        display: flex;
    }
    .input1{
        width: 48%;
    }
    
}